.container {
    width: 1500px;
}

th {
    text-align: center;
}

#ncee-preferences .form-group {
    display: inline-block;
}

#ncee-ranking .form-group {
    display: inline-block;
}

#ncee-score .form-group {
    display: inline-block;
}

#ncee-range .radio {
    display: inline-block;
}

#ncee-candidates .part_1{
    background-color: #C6EDEA;
}
#ncee-candidates .part_2{
    background-color: #B0D9EF;
}
#ncee-candidates .part_3{
    background-color: #5CA7BC;
}
.table > tbody > tr > td {
    vertical-align: middle;
    height: 60px;
    padding-top: 20px;
    /*line-height: 3;*/
}

.table .checkbox {
    margin: 0;
}

.table .btn {
    top: -8px;
}

.table > tbody > tr {
    display: flex;
}
#ncee-login{
    width: 50%;
    display: inline-block;
    text-align: -webkit-left;
    margin-top: 20px;
}
.ncee-class-h1{
    color: #fff;
    background-color: #597cd1;
}
.ncee-class-h1, h1{
    margin: 10px 0;
}