<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="ch">
<head></head>
<title>高考咨询系统</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- StyleSheets -->
<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="https://cdn.bootcss.com/bootstrap-select/1.13.1/css/bootstrap-select.min.css" rel="stylesheet">-->
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheet/global.css">
<link rel="stylesheet" href="stylesheet/index.css">

<body>
<div id="app" class="container text-center">
    <!--<img src="https://vuejs.org/images/logo.png" alt="Vue logo">-->
    <h1 v-text="greeting"></h1>
    <section>
        <div id="ncee-select">
            <form class="form-inline">
                <div class="row col-12 text-left">
                    <div id="ncee-score" class="col-6 form-group">
                        <label class="col-form-label" for="nceeScore">高考分数：</label>
                        <input type="text" class="form-control col-4" id="nceeScore"
                               v-model="selectRange.score" placeholder="请输入高考分数..." @change="score2rank()">
                        <small id="help_nceeScore" class="form-text text-muted col-4">预测分数对应的排名为
                            <span>{{selectRange.ranking}}</span>
                        </small>
                    </div>
                </div>
                <div class="row col-12 text-left">
                    <div id="ncee-province" class="col-6 form-group">
                        <label for="nceeProvince" class="col-form-label">学校地域：</label>
                        <select class="form-control col-4" id="nceeProvince"
                                multiple data-actions-box="true" v-model="selectRange.province">
                            <option v-for="item in options.province" v-text="item.text"
                                    v-bind:value="item.alt"></option>
                        </select>
                        <small id="help_nceeProvince" class="form-text text-muted col-4">使用Ctrl选择多个城市</small>
                    </div>
                    <div class="col-6">
                        <ul class="form-group">
                            <li class="col-3" v-for="item in selectRange.province" v-text="item"></li>
                        </ul>
                    </div>
                </div>
                <div class="row col-12 text-left">
                    <div id="ncee-preferences" class="col-12 form-group">
                        <!--<div class="form-group">专业偏好选择：</div>-->
                        <div class="form-group col-4">
                            <label for="nceePreference1" class="col-form-label">专业偏好1：</label>
                            <select class="form-control preference col-6" id="nceePreference1"
                                    v-model="selectRange.preference1">
                                <option v-for="item in options.professionCategory" v-text="item"
                                        v-bind:value="item"></option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="nceePreference2" class="col-form-label">专业偏好2：</label>
                            <select class="form-control preference col-6" id="nceePreference2"
                                    v-model="selectRange.preference2">
                                <option v-for="item in options.professionCategory" v-text="item"
                                        v-bind:value="item"></option>
                            </select>
                            <!--<input type="text" class="form-control" id="nceePreference2"-->
                            <!--v-model="selectRange.preference2" placeholder="请输入...">-->
                        </div>
                        <div class="form-group col-4">
                            <label for="nceePreference3" class="col-form-label">专业偏好3：</label>
                            <!--<input type="text" class="form-control" id="nceePreference3"-->
                            <!--v-model="selectRange.preference3" placeholder="请输入...">-->
                            <select class="form-control preference col-6" id="nceePreference3"
                                    v-model="selectRange.preference3">
                                <option v-for="item in options.professionCategory" v-text="item"
                                        v-bind:value="item"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row col-12 text-left">
                    <div id="ncee-bias" class="form-group col-4">
                        <label for="nceeProvince" class="col-form-label">分数偏差值：</label>
                        <input type="text" class="form-control col-6" id="nceeBias"
                               v-model="selectRange.bias" placeholder="请输入...">
                        <!--<small>请输入偏差值，默认为15</small>-->
                    </div>
                    <div id="ncee-range" class="col-8 form-group">
                        <label class="pt-0">浮动范围: </label>
                        <div class="col-8">
                            <div class="custom-control custom-radio custom-control-inline"
                                 v-for="item in options.floatRange">
                                <input class="custom-control-input" type="radio" name="gridRadios" :id="'radio_'+item"
                                       :value="item" checked="">
                                <label class="custom-control-label" :for="'radio_'+item">
                                    {{item}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group col text-left">
                    <div id="ncee-schoolLevel" class="col-lg-4 form-group">
                        <label class="pt-0">学校层次：</label>
                        <div class="col-8 form-group">
                            <div class="checkbox custom-control custom-checkbox">
                                <input type="checkbox" id="nceeSchoolLevel_985" class="custom-control-input"
                                       v-model="selectRange.schoolLevel_985" placeholder="请输入...">
                                <label class="custom-control-label" for="nceeSchoolLevel_985">985</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox">
                                <input type="checkbox" id="nceeSchoolLevel_211" class="custom-control-input"
                                       v-model="selectRange.schoolLevel_211" placeholder="请输入...">
                                <label class="custom-control-label" for="nceeSchoolLevel_211">211</label>
                            </div>
                        </div>
                    </div>

                    <div id="ncee-subjects" class="col-lg-8 form-group">
                        <label class="pt-0">选修科目：</label>
                        <div v-for="item in selectRange.subjects" class="checkbox custom-control custom-checkbox">
                            <input type="checkbox" v-bind:id="item.id" v-model="item.selected"
                                   class="custom-control-input"/>
                            <label class="custom-control-label" v-bind:for="item.id">{{item.subject}}</label>
                        </div>
                    </div>
                </div>
                <div class="row form-group col text-left" style="justify-content: space-around">
                    <button type="button" class="col-lg-4 btn btn-default" @click="manualRecommend()">人工推荐</button>
                    <button type="button" class="col-lg-4 btn btn-default" @click="autoRecommend()">智能推荐</button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div id="ncee-output" class="col-lg-12">
            <div id="ncee-candidates" class="col-lg-12" v-show="!autoRe">
                <div class="col-lg-12 ncee-class-h1"><h1>候选列表</h1></div>
                <label>
                    <input type="text" class="form-control" placeholder="输入筛选字" v-model="searchText">
                    {{searchText}}
                </label>
                <table class="table" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th class="col">#</th>
                        <th class="col">学校</th>
                        <th class="col">专业</th>
                        <th class="col">计划数</th>
                        <th class="col">最低分</th>
                        <th class="col">平均分</th>
                        <th class="col">名次号</th>
                        <th class="col">是否选择</th>
                    </tr>
                    </thead>
                </table>
                <table class="table" style="display: inline-block;">
                    <tbody style="display:block; height: 600px;overflow: auto;">
                    <tr v-for="(item, index) in filterCandidates" v-bind:class="item.class">
                        <td class="col" v-text="index"></td>
                        <td class="col" v-text="item.schoolName"></td>
                        <td class="col" v-text="item.professionName"></td>

                        <th class="col" v-text="item.plansNum"></th>
                        <th class="col" v-text="item.pastLowestScore"></th>
                        <th class="col" v-text="item.pastAverageScore"></th>
                        <th class="col" v-text="item.pastRankingNumber"></th>

                        <td class="col">
                            <div class="checkbox">
                                <label><input type="checkbox" @change="checkCandidate(item)"
                                              v-model=item.checked></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="ncee-resultList" class="col-lg-12">
                <div class="col-lg-12 ncee-class-h1"><h1>志愿推荐表</h1></div>
                <button class="col-lg-12 btn btn-default"
                        @click="downloadResultTable">下载表格
                </button>
                <table id="resultListTable" class="table" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th class="col">#</th>
                        <th class="col">学校</th>
                        <th class="col">专业</th>
                        <th class="col">大类方向</th>

                        <th class="col">地域</th>

                        <th class="col">计划数</th>
                        <th class="col">学校层次</th>

                        <th class="col">以往批次</th>
                        <th class="col">以往名次</th>

                        <th class="col">上移/下移</th>
                        <th class="col">是否选择</th>
                    </tr>
                    </thead>
                </table>
                <table class="table" style="display: inline-block">
                    <tbody style="display:block; height: 600px;overflow: auto;">
                    <tr v-for="(item ,index) in results" v-bind:class="item.class">
                        <td class="col" v-text="(index+1)"></td>
                        <td class="col" v-text="item.schoolName"></td>
                        <td class="col" v-text="item.professionName"></td>
                        <td class="col" v-text="item.professionCategory"></td>
                        <td class="col" v-text="item.province"></td>

                        <td class="col" v-text="item.plansNum"></td>
                        <td class="col" v-text="item.schoolLevel"></td>

                        <td class="col" v-text="item.pastBatch"></td>
                        <td class="col" v-text="parseInt(item.pastRankingNumber)"></td>

                        <td class="col">
                            <span class="fa fa-arrow-up btn btn-default"
                                  @click="upResultList(index)" aria-hidden="true" :disabled="index === 0"></span>
                            <span class="fa fa-arrow-down btn btn-default"
                                  @click="downResultList(index)" aria-hidden="true"
                                  :disabled="index === (results.length-1)"></span>
                            <!--<span class="glyphicon glyphicon-collapse-up btn btn-default" aria-hidden="true"></span>-->
                        </td>
                        <td class="col-lg-1">
                            <div class="checkbox">
                                <label><input type="checkbox" @change="deleteCheckedCandidate(index, item)"
                                              v-model=item.checked></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>


<!--<script src="dist/jquery/dist/jquery.min.js"></script>-->
<!--<script src="dist/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="dist/bootstrap-select/dist/js/bootstrap-select.min.js"></script>-->
<!--<script src="dist/vue/dist/vue.min.js"></script>-->

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>

<!--<script src="dist/datatables/media/js/dataTables.bootstrap.min.js"></script>-->
<script src="javascript/index.js"></script>
</body>
</html>
